.header {
    margin-bottom: 100px;
    position: relative;
    z-index: 15;
    
    
    
    
}



.header__main {
    
    
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;

    @media(max-width: 1280px) {
        padding-top: 20px;
        justify-content: space-between;
        
        
    }



    


    
}

.header__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #F5FBF2;
    position: relative;

    transition: all .3s;

    &:hover {
        color: $yellow;

        &:after {
            display: block;
        }
    }

    &:after {
        content: '';
        display: none;
        background: $yellow;
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
    }

    @media(max-width: 700px) {
        font-size: 30px;
    }

}

.header__inner {
    display: flex;
    align-items: center;
    

    @media(max-width: 700px) {

        transform: translateY(-100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
       
        padding-top: 100px;
        
        flex-direction: column;

        

        transition: all .5s;

        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);



  
     }

     &.active {
        transform: translateY(0);
     }





   

    

   
    
}

.header__links {
    display: flex;
    align-items: center;
    margin-right: 160px;
    grid-gap: 60px;


    
    @media(max-width: 750px) {
      grid-gap: 40px;
        
    }


    @media(max-width: 700px) {

        grid-gap: 30px;
        margin-left: 5px;
        flex-direction: column;
        margin: 0 0 30px;
        justify-content: center;
        align-items: center;
  
     }



}

.header__btn {
    border: 1px solid #FFCE4E;
    padding: 21px 29px 22px 30px;
    color: $yellow;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    background: rgba(233, 215, 167, 0.1);
    transition: 2s ease-in;

     &:hover {
        -webkit-box-shadow: 0px 0px 11px 6px rgba(247, 234, 60, 0.6);
        -moz-box-shadow: 0px 0px 11px 6px rgba(247, 234, 60, 0.6);
        box-shadow: 0px 0px 11px 6px rgba(247, 234, 60, 0.6);
     }

     @media(max-width: 1024px) {

        max-width: 200px;
        max-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 18px;
       
        
       
        
        
        
    }

   

    @media(max-width: 750px) {

        max-width: 200px;
        max-height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

  

    

  
    }

    .header__burger {
        display: none;
        img {
            width: 45px;
            height: 45px;
        }

        @media(max-width: 700px) {
            display: block;
           
        }

        &.active {
            display: none;
        }
    }

    .header__burger_close {
       

        &.active {
            display: block;
        }

        display: none;
        position: relative;

        z-index: 100;
    }